<a href="https://colab.research.google.com/github/anbeld12/Challenge_AluraStoreLatam/blob/main/Challenge_AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Challenge Alura Store Latam**

#### **Importación de datos**

In [ ]:
import pandas as pd

url1 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda1 = pd.read_csv(url1)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda1.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

## **1. Análisis de facturación**

### **Ingreso total por tienda**

In [ ]:
# Se obtienes los ingresos totales
tienda1_ingreso_total = tienda1['Precio'].sum()
tienda2_ingreso_total = tienda2['Precio'].sum()
tienda3_ingreso_total = tienda3['Precio'].sum()
tienda4_ingreso_total = tienda4['Precio'].sum()

In [ ]:
# Se imprimen los ingresos totales
print("El ingreso total para la tienda 1 fue: " + tienda1_ingreso_total.astype(str))
print("El ingreso total para la tienda 2 fue: " + tienda2_ingreso_total.astype(str))
print("El ingreso total para la tienda 3 fue: " + tienda3_ingreso_total.astype(str))
print("El ingreso total para la tienda 4 fue: " + tienda4_ingreso_total.astype(str))

El ingreso total para la tienda 1 fue: 1150880400.0
El ingreso total para la tienda 2 fue: 1116343500.0
El ingreso total para la tienda 3 fue: 1098019600.0
El ingreso total para la tienda 4 fue: 1038375700.0

## **2. Ventas por categoría**

In [ ]:
# Se obtiene el ingreso total por categorias para cada tienda
tienda1_total_por_categoria = tienda1.groupby("Categoría del Producto")["Precio"].sum(numeric_only=True).sort_values(ascending=False)
tienda2_total_por_categoria = tienda2.groupby("Categoría del Producto")["Precio"].sum(numeric_only=True).sort_values(ascending=False)
tienda3_total_por_categoria = tienda3.groupby("Categoría del Producto")["Precio"].sum(numeric_only=True).sort_values(ascending=False)
tienda4_total_por_categoria = tienda4.groupby("Categoría del Producto")["Precio"].sum(numeric_only=True).sort_values(ascending=False)

In [ ]:
# Tienda 1
tienda1_total_por_categoria

Categoría del Producto
Electrónicos               429493500.0
Electrodomésticos          363685200.0
Muebles                    187633700.0
Instrumentos musicales      91299000.0
Deportes y diversión        39290000.0
Juguetes                    17995700.0
Artículos para el hogar     12698400.0
Libros                       8784900.0
Name: Precio, dtype: float64

In [ ]:
# Tienda 2
tienda2_total_por_categoria

Categoría del Producto
Electrónicos               410831100.0
Electrodomésticos          348567800.0
Muebles                    176426300.0
Instrumentos musicales     104990300.0
Deportes y diversión        34744500.0
Juguetes                    15945400.0
Artículos para el hogar     14746900.0
Libros                      10091200.0
Name: Precio, dtype: float64

In [ ]:
# Tienda 3
tienda3_total_por_categoria

Categoría del Producto
Electrónicos               410775800.0
Electrodomésticos          329237900.0
Muebles                    201072100.0
Instrumentos musicales      77380900.0
Deportes y diversión        35593100.0
Juguetes                    19401100.0
Artículos para el hogar     15060000.0
Libros                       9498700.0
Name: Precio, dtype: float64

In [ ]:
# Tienda 4
tienda4_total_por_categoria

Categoría del Producto
Electrónicos               409476100.0
Electrodomésticos          283260200.0
Muebles                    192528900.0
Instrumentos musicales      75102400.0
Deportes y diversión        33350100.0
Juguetes                    20262200.0
Artículos para el hogar     15074500.0
Libros                       9321300.0
Name: Precio, dtype: float64

## **3. Calificación promedio de la tienda**

### **Calificación general por tienda**

In [ ]:
# Se obtienen las calificaciones promedio por tienda
tienda1_calificacion = tienda1['Calificación'].mean(numeric_only=True).round(4)
tienda2_calificacion = tienda2['Calificación'].mean(numeric_only=True).round(4)
tienda3_calificacion = tienda3['Calificación'].mean(numeric_only=True).round(4)
tienda4_calificacion = tienda4['Calificación'].mean(numeric_only=True)

In [ ]:
# Se imprimen las calificaciones promedio por tienda
print("La calificación promedio para la tienda 1 fue: " + tienda1_calificacion.astype(str))
print("La calificación promedio para la tienda 2 fue: " + tienda2_calificacion.astype(str))
print("La calificación promedio para la tienda 3 fue: " + tienda3_calificacion.astype(str))
print("La calificación promedio para la tienda 3 fue: " + tienda4_calificacion.astype(str))

La calificación promedio para la tienda 1 fue: 3.9767
La calificación promedio para la tienda 2 fue: 4.0373
La calificación promedio para la tienda 3 fue: 4.0483
La calificación promedio para la tienda 3 fue: 3.9958

### **Calificación por tienda y categoria**

In [30]:
# Se obtiene la calificacion promedio por categoria
tienda1_calificacion_por_categoria = tienda1.groupby("Categoría del Producto")["Calificación"].mean(numeric_only=True).sort_values(ascending=False).round(4)
tienda2_calificacion_por_categoria = tienda2.groupby("Categoría del Producto")["Calificación"].mean(numeric_only=True).sort_values(ascending=False).round(4)
tienda3_calificacion_por_categoria = tienda3.groupby("Categoría del Producto")["Calificación"].mean(numeric_only=True).sort_values(ascending=False).round(4)
tienda4_calificacion_por_categoria = tienda4.groupby("Categoría del Producto")["Calificación"].mean(numeric_only=True).sort_values(ascending=False).round(4)

In [31]:
# Tienda 1
tienda1_calificacion_por_categoria

Categoría del Producto
Juguetes                   4.0772
Instrumentos musicales     4.0495
Electrodomésticos          4.0321
Electrónicos               4.0045
Libros                     3.9769
Muebles                    3.9462
Deportes y diversión       3.8979
Artículos para el hogar    3.7485
Name: Calificación, dtype: float64

In [32]:
# Tienda 2
tienda2_calificacion_por_categoria

Categoría del Producto
Muebles                    4.0928
Electrodomésticos          4.0721
Artículos para el hogar    4.0718
Deportes y diversión       4.0655
Instrumentos musicales     4.0357
Juguetes                   4.0256
Electrónicos               3.9716
Libros                     3.9492
Name: Calificación, dtype: float64

In [33]:
# Tienda 3
tienda3_calificacion_por_categoria

Categoría del Producto
Juguetes                   4.1968
Muebles                    4.0982
Artículos para el hogar    4.0734
Libros                     4.0486
Electrodomésticos          4.0108
Instrumentos musicales     4.0056
Electrónicos               3.9867
Deportes y diversión       3.9386
Name: Calificación, dtype: float64

In [34]:
# Tienda 4
tienda4_calificacion_por_categoria

Categoría del Producto
Deportes y diversión       4.0542
Libros                     4.0428
Artículos para el hogar    4.0100
Electrónicos               4.0067
Muebles                    3.9979
Juguetes                   3.9882
Electrodomésticos          3.9291
Instrumentos musicales     3.9118
Name: Calificación, dtype: float64

## **4. Productos más y menos vendidos**

In [109]:
# Tienda 1
tienda1_productos_vendidos = pd.DataFrame(tienda1["Categoría del Producto"].value_counts())

# Producto mas vendido
tienda1_producto_mas_vendido = tienda1_productos_vendidos.iloc[0]
print("El producto mas vendido en la tienda 1 es: '" + tienda1_producto_mas_vendido.name + "' con un total de: " + tienda1_producto_mas_vendido.iloc[0].astype(str))

# Producto menos vendido
tienda1_producto_menos_vendido = tienda1_productos_vendidos.iloc[-1]
print("El producto menos vendido en la tienda 1 es: '" + tienda1_producto_menos_vendido.name + "' con un total de: " + tienda1_producto_menos_vendido.iloc[0].astype(str))

El producto mas vendido en la tienda 1 es: 'Muebles' con un total de: 465
El producto menos vendido en la tienda 1 es: 'Artículos para el hogar' con un total de: 171

In [107]:
# Tienda 2
tienda2_productos_vendidos = pd.DataFrame(tienda2["Categoría del Producto"].value_counts())

# Producto mas vendido
tienda2_producto_mas_vendido = tienda2_productos_vendidos.iloc[0]
print("El producto mas vendido en la tienda 2 es: '" + tienda2_producto_mas_vendido.name + "' con un total de: " + tienda2_producto_mas_vendido.iloc[0].astype(str))

# Producto menos vendido
tienda2_producto_menos_vendido = tienda2_productos_vendidos.iloc[-1]
print("El producto menos vendido en la tienda 2 es: '" + tienda2_producto_menos_vendido.name + "' con un total de: " + tienda2_producto_menos_vendido.iloc[0].astype(str))

El producto mas vendido es: 'Muebles' con un total de: 442
El producto menos vendido es: 'Artículos para el hogar' con un total de: 181

In [117]:
# Tienda 3
tienda3_productos_vendidos = pd.DataFrame(tienda3["Categoría del Producto"].value_counts())

# Producto mas vendido
tienda3_producto_mas_vendido = tienda3_productos_vendidos.iloc[0]
print("El producto mas vendido en la tienda 3 es: '" + tienda3_producto_mas_vendido.name + "' con un total de: " + tienda3_producto_mas_vendido.iloc[0].astype(str))

# Producto menos vendido
tienda3_producto_menos_vendido = tienda3_productos_vendidos.iloc[-1]
print("El producto menos vendido en la tienda 3 es: '" + tienda3_producto_menos_vendido.name + "' con un total de: " + tienda3_producto_menos_vendido.iloc[0].astype(str))

El producto mas vendido en la tienda 3 es: 'Muebles' con un total de: 499
El producto menos vendido en la tienda 3 es: 'Artículos para el hogar' con un total de: 177

In [111]:
# Tienda 4
tienda4_productos_vendidos = pd.DataFrame(tienda4["Categoría del Producto"].value_counts())

# Producto mas vendido
tienda4_producto_mas_vendido = tienda4_productos_vendidos.iloc[0]
print("El producto mas vendido en la tienda 2 es: '" + tienda4_producto_mas_vendido.name + "' con un total de: " + tienda4_producto_mas_vendido.iloc[0].astype(str))

# Producto menos vendido
tienda4_producto_menos_vendido = tienda4_productos_vendidos.iloc[-1]
print("El producto menos vendido en la tienda 2 es: '" + tienda4_producto_menos_vendido.name + "' con un total de: " + tienda4_producto_menos_vendido.iloc[0].astype(str))

El producto mas vendido en la tienda 2 es: 'Muebles' con un total de: 480
El producto menos vendido en la tienda 2 es: 'Instrumentos musicales' con un total de: 170

## **5. Envío promedio por tienda**

In [120]:
# Se obtiene el promedio de costo de envio por tienda
tienda1_promedio_costo_envio = tienda1['Costo de envío'].mean(numeric_only=True).round(2)
tienda2_promedio_costo_envio = tienda2['Costo de envío'].mean(numeric_only=True).round(2)
tienda3_promedio_costo_envio = tienda3['Costo de envío'].mean(numeric_only=True).round(2)
tienda4_promedio_costo_envio = tienda4['Costo de envío'].mean(numeric_only=True).round(2)

print("El costo promedio de envio para la tienda 1 es: " + tienda1_promedio_costo_envio.astype(str))
print("El costo promedio de envio para la tienda 2 es: " + tienda2_promedio_costo_envio.astype(str))
print("El costo promedio de envio para la tienda 3 es: " + tienda3_promedio_costo_envio.astype(str))
print("El costo promedio de envio para la tienda 4 es: " + tienda4_promedio_costo_envio.astype(str))

El costo promedio de envio para la tienda 1 es: 26018.61
El costo promedio de envio para la tienda 2 es: 25216.24
El costo promedio de envio para la tienda 3 es: 24805.68
El costo promedio de envio para la tienda 4 es: 23459.46

## 6. **Visualización**